.Weather {
  border-radius: 4px;
}
.Weather section {
  padding: 20px;
}
.Weather h1 {
  font-size: 35px;
  padding: 10px 0 5px 0;
}
.btn {
  background-color: #bae8e8;
  color: black;
  border: #bae8e8;
}
.btn:hover {
  background-color: #8bd5d5;
  color: black;
}
.form-control:focus {
  border: 1px solid black;
  box-shadow: none;
}
.Weather input[type='search']::-webkit-search-cancel-button {
  filter: invert(50%); /* Adjust to change color */
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-top: 7px;
  display: inline-block;
}
.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.float-left {
  float: left;
  margin-right: 10px;
}

